---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import PropertiesFavorite from "@components/PropertiesFavorite";
import SearchForm from "@components/SearchForm";

const userId = Astro.locals.currentUserId;
---

<Layout>
  <Header />
  <Main>
    <SearchForm client:load />
    <div class="mb-8">
      <a href="/inmuebles/favoritos" title="Mis Favoritos"> Mis favoritos </a>
    </div>
    <PropertiesFavorite client:load userId={userId} />
  </Main>
</Layout>
