---
import Layout from "@layouts/Layout.astro";
import PropertiesFavorite from "@components/PropertiesFavorite";
import SearchForm from "@components/SearchForm";
import { SignIn } from "auth-astro/components";
import { Icon } from "astro-icon/components";
import { supabase } from "@lib/supabase";
import { PropertyState } from "@types/propertyState";
import { getSession } from "auth-astro/server";
import { favoriteQuery } from "@queries/property";

const session = await getSession(Astro.request);
const userEmail = session?.user?.email;

const { data: user } = await supabase
  .from("user")
  .select("id")
  .eq("email", userEmail)
  .single();

const userId = user?.id;

const { data: likes, error } = await supabase
  .from("like")
  .select(favoriteQuery)
  .eq("property.state", PropertyState.ACTIVE)
  .eq("user_id", userId)
  .order("created_at", { ascending: false })
  .limit(4);

console.log(error);
---

<Layout>
  <SearchForm client:load />
  {
    userEmail ? (
      <PropertiesFavorite
        likes={likes}
        userId={userId}
        client:load
        userEmail={userEmail}
      />
    ) : (
      <div class="max-w-md mx-auto items-center flex flex-col gap-10">
        <div class="flex justify-center w-[300px] rounded-full items-center mx-auto bg-cyan-500 aspect-square bg-opacity-5">
          <Icon
            name="solar:gallery-favourite-bold"
            class="text-[200px] text-cyan-500"
          />
        </div>
        <h1 class="text-center">
          Necesitas iniciar sesión para poder ver tu lista de inmuebles
          favoritos.
        </h1>
        <SignIn
          class="block px-6 py-2 bg-black text-white rounded-full transition-colors duration-700 hover:bg-gray-800 active:bg-gray-900"
          provider="google"
        >
          Iniciar sesión
        </SignIn>
      </div>
    )
  }
</Layout>
