---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import PropertiesFavorite from "@components/PropertiesFavorite";
import SearchForm from "@components/SearchForm";

const userId = Astro.locals.currentUserId;
---

<Layout>
  <Header />
  <Main>
    <SearchForm client:load />
    <PropertiesFavorite client:load userId={userId} />
  </Main>
</Layout>
