---
import FilterDropdown from "@components/FilterDropdown";
import ProfilePopover from "@components/ProfilePopover.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logo from "@assets/logo.png";
import PropertiesFavorite from "@components/PropertiesFavorite";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
const user = session?.user;
---

<Layout>
  <header class="w-full z-20 mb-12 relative">
    <nav
      class="max-w-[1816px] w-full mx-auto p-4 justify-between flex items-center"
    >
      <ul class="flex items-center gap-4 mr-4">
        <li>
          <a href="/" class="block" title="Home">
            <Image
              src={logo}
              class="w-20 object-cover object-top"
              alt="Inmobiliaria"
            />
          </a>
        </li>
      </ul>
      <ProfilePopover />
    </nav>
  </header>
  <div class="max-w-[1816px] w-full mx-auto p-4 relative z-10">
    <form class="mb-8">
      <fieldset
        class="hover:bg-white hover:border-cyan-100 focus-within:bg-white focus-within:border-cyan-100 border-2 transition-colors duration-500 border-gray-100 flex items-center bg-gray-100 w-[700px] rounded-full p-1 gap-2"
      >
        <FilterDropdown client:load />
        <input
          type="search"
          name="search"
          class="placeholder:text-gray-400 flex-grow border-transparent border-2 focus:outline-none py-3 bg-transparent"
          placeholder="Buscar ..."
        />
        <button
          type="submit"
          class="h-[52px] aspect-square rounded-full bg-cyan-400 hover:bg-cyan-500 active:bg-cyan-600 transition duration-700 flex items-center justify-center"
        >
          <Icon name="mingcute:search-line" size="32" class="text-white" />
        </button>
      </fieldset>
    </form>
    <PropertiesFavorite client:load userEmail={user?.email} />
  </div>
</Layout>
