---
import Layout from "@layouts/Layout.astro";
import PropertiesList from "@components/PropertiesList";
import Header from "@components/Header.astro";
import SearchForm from "@components/SearchForm";
import Main from "@components/Main.astro";
import { SignIn, SignOut } from "auth-astro/components";

const { currentUserId: userId } = Astro.locals;
---

<Layout>
  <Header />
  <Main>
    <h2
      style={{
        fontSize: "clamp(18px, 13vw + .5rem, 50px)",
      }}
      class="mb-10 leading-relaxed w-full text-center"
    >
      Explora estos <br /> inmuebles destacados
    </h2>
    <div class="mx-auto mb-32 w-[700px]">
      <SearchForm client:load />
    </div>
    <div class="mb-8">
      <a href="/inmuebles/favoritos" title="Mis Favoritos"> Mis favoritos </a>
    </div>
    <PropertiesList client:load userId={userId} />
  </Main>
</Layout>
