---
import Layout from "@layouts/Layout.astro";
import PropertiesList from "@components/PropertiesList";
import Header from "@components/Header.astro";
import SearchForm from "@components/SearchForm";
import Main from "@components/Main.astro";
import HightLightSelect from "@components/HighLightSelect";

const { currentUserId: userId } = Astro.locals;
---

<Layout>
  <Header />
  <Main>
    <h2
      style={{
        fontSize: "clamp(16px, 6vw + .5rem, 50px)",
      }}
      class="mb-10 leading-relaxed w-full text-center"
    >
      Explora estos <br /> inmuebles destacados
    </h2>
    <SearchForm client:load />
    <HightLightSelect client:load />
    <PropertiesList client:load userId={userId} />
  </Main>
</Layout>
