---
import Layout from "@layouts/Layout.astro";
import PropertiesList from "@components/PropertiesList";
import SearchForm from "@components/SearchForm";
import HightLightSelect from "@components/HighLightSelect.astro";
import { supabase } from "@lib/supabase";
import { PropertyState } from "@types/propertyState";
import { getSession } from "auth-astro/server";
import { propertyQuery } from "@queries/property";

const session = await getSession(Astro.request);
const userEmail = session?.user?.email;

const { data: properties } = await supabase
  .from("property")
  .select(propertyQuery)
  .eq("state", PropertyState.ACTIVE)
  .order("created_at", { ascending: false })
  .limit(4);
---

<Layout>
  <h2
    style={{
      fontSize: "clamp(16px, 6vw + .5rem, 50px)",
    }}
    class="mb-10 leading-relaxed w-full text-center"
  >
    Encuentra tu próximo <br /> hogar
  </h2>
  <SearchForm client:load />
  <HightLightSelect />
  <PropertiesList properties={properties} client:load userEmail={userEmail} />
</Layout>
