---
import Dashboard from "@layouts/Dashboard.astro";
import { supabase } from "@lib/supabase";

interface Property {
  title: string;
  description: string;
  location: string;
  created_at?: string;
}

async function fetchData(entity: string) {
  const { data } = await supabase
    .from(entity)
    .select("*")
    .order("created_at", { ascending: false });
  return data;
}

async function insertData(data: Property) {
  const { error } = await supabase.from("user").insert([data]);
  if (error) {
    console.error("Error inserting data:", error);
    return { success: false, error: error.message };
  }
  return { success: true };
}

const data = await fetchData("property");

let insertResult;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const newData: Property = {
    title: formData.get("title") as string,
    description: formData.get("description") as string,
    location: formData.get("location") as string,
  };

  insertResult = await insertData(newData);
  if (insertResult.success) {
    await fetchData("property");
  }
}

if (!data) return null;
---

<Dashboard>
  <form method="post" action="/admin/users/add">
    <h2
      class="text-center text-4xl font-semibold font-manrope tracking-tight text-balance text-gray-900 sm:text-5xl"
    >
      Add User
    </h2>
    <p class="mt-2 w-full text-center text-lg/8 text-gray-600 font-manrope">
      Include the following fields in your form to add a new user
    </p>
    <div class="flex flex-col gap-4 mt-16">
      <fieldset>
        <label for="username" class="block font-bold mb-2 font-manrope"
          >Username</label
        >
        <input
          type="text"
          id="username"
          name="username"
          required
          class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
        />
      </fieldset>
      <fieldset>
        <label for="title" class="block mb-2.5 font-manrope font-bold"
          >Email</label
        >
        <input
          type="text"
          id="title"
          name="title"
          required
          class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
        />
      </fieldset>
      <fieldset>
        <label for="description" class="block mb-2.5 font-manrope font-bold"
          >Password</label
        >
        <input
          type="text"
          id="description"
          name="description"
          required
          class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
        />
      </fieldset>
      <fieldset>
        <label for="location" class="block mb-2.5 font-manrope font-bold"
          >Password</label
        >
        <input
          type="text"
          id="location"
          name="location"
          required
          class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
        />
      </fieldset>
    </div>
    {
      insertResult?.success && (
        <div
          class="bg-green-200 bg-opacity-40 text-sm p-4 mt-6 rounded-md text-green-950"
          role="alert"
        >
          Item was added successfully!
        </div>
      )
    }
    {
      insertResult?.error && (
        <div
          class="bg-red-300 bg-opacity-40 text-sm p-4 mt-6 rounded-md text-red-950"
          role="alert"
        >
          There was an error creating the new item: {insertResult.error}
        </div>
      )
    }
    <div class="flex gap-4 mt-10">
      <a
        href="/admin/property"
        class="block text-center font-bold text-sm flex-grow px-6 py-2 border-gray-200 bg-white border-width-2 border rounded-md"
        >Cancel</a
      >
      <button
        type="submit"
        class="block px-6 flex-grow font-bold text-sm py-2 bg-blue-500 text-white rounded-md"
        >Add New Item</button
      >
    </div>
  </form>
</Dashboard>
