---
import ProfilePopover from "@components/ProfilePopover.astro";
import { Icon } from "astro-icon/components";
---

<header class="w-full mb-12">
  <nav
    class="max-w-[1816px] w-full mx-auto p-4 justify-between flex items-center"
  >
    <a
      href="/"
      title="Inicio | Inmobiliaria"
      class="flex items-center gap-2 text-sm font-semibold uppercase"
    >
      <span class="p-2 rounded-xl bg-cyan-500 block">
        <Icon name="solar:home-smile-bold" class="text-3xl text-white" />
      </span>
    </a>
    <ProfilePopover />
  </nav>
</header>
