---
import { Image } from "astro:assets";
import logo from "@assets/logo.png";
import ProfilePopover from "@components/ProfilePopover.astro";
---

<header class="w-full z-20 relative mb-12">
  <nav
    class="max-w-[1816px] w-full mx-auto p-4 justify-between flex items-center"
  >
    <ul class="flex items-center gap-4 mr-4">
      <li>
        <a href="/" class="block" title="Home">
          <Image
            src={logo}
            class="w-20 object-cover object-top"
            alt="Inmobiliaria"
          />
        </a>
      </li>
    </ul>
    <ProfilePopover />
  </nav>
</header>
