---
import { Icon } from "astro-icon/components";
---

<a
  href="/inmuebles/favoritos"
  title="Favoritos"
  class="mb-8 py-2 group px-6 border inline-block border-gray-300 rounded-xl transition-colors hover:border-cyan-300 active:border-cyan-400"
>
  <span class="flex items-center gap-2">
    <span>Favoritos</span>
    <Icon size={18} name="solar:heart-bold" class="text-cyan-300" />
  </span>
</a>
