---
import Dashboard from "@layouts/Dashboard.astro";
import { supabase } from "@lib/supabase";

interface User {
  username: string;
  email: string;
  password?: string;
  created_at?: string;
}

async function insertData(data: User) {
  const { error } = await supabase.from("user").insert([data]);
  if (error) {
    console.error("Error inserting data:", error);
    return { success: false, error: error.message };
  }
  return { success: true };
}

let insertResult;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const newUser: User = {
    username: formData.get("username") as string,
    email: formData.get("email") as string,
    password: formData.get("password") as string,
  };

  insertResult = await insertData(newUser);

  if (insertResult.success) {
    return Astro.redirect("/admin/users");
  }
}
---

<Dashboard pageTitle="Nuevo usuario">
  <h1 class="mb-6 font-semibold text-lg block">Agregar Usuario</h1>
  <form method="post" action="/admin/users/add">
    <div class="flex flex-col gap-4">
      <fieldset>
        <label for="username" class="inline-block mb-2 text-sm"
          >Username</label
        >
        <input
          type="text"
          id="username"
          name="username"
          required
          class="w-full px-3 py-2.5 rounded-xl border border-gray-200 focus:outline-none focus:ring-4 focus:ring-cyan-100  focus:border-cyan-500"
        />
      </fieldset>
      <fieldset>
        <label for="email" class="inline-block mb-2 text-sm"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          required
          class="w-full px-3 py-2.5 rounded-xl border border-gray-200 focus:outline-none focus:ring-4 focus:ring-cyan-100  focus:border-cyan-500"
        />
      </fieldset>
      <fieldset>
        <label for="password" class="inline-block mb-2 text-sm"
          >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          required
          class="w-full px-3 py-2.5 rounded-xl border border-gray-200 focus:outline-none focus:ring-4 focus:ring-cyan-100  focus:border-cyan-500"
        />
      </fieldset>
    </div>
    {
      insertResult?.success && (
        <div
          class="bg-green-200 bg-opacity-40 text-sm p-4 mt-6 rounded-md text-green-950"
          role="alert"
        >
          User was added successfully!
        </div>
      )
    }
    {
      insertResult?.error && (
        <div
          class="bg-red-300 bg-opacity-40 text-sm p-4 mt-6 rounded-md text-red-950"
          role="alert"
        >
          There was an error creating the user: {insertResult.error}
        </div>
      )
    }
    <footer class="mt-10">
      <a
        href="/admin/users"
        class="font-semibold disabled:border-gray-100 disabled:bg-gray-100 inline-block py-3 px-10 bg-white text-sm border border-gray-100 rounded-lg transition-colors hover:border-gray-200 duration-500 active:border-gray-300"
        >Cancel</a
      >
      <button
        type="submit"
        class="text-white font-semibold disabled:border-gray-100 disabled:bg-gray-100 inline-block py-3 px-10 text-sm bg-cyan-500 hover:bg-cyan-400 transition-colors duration-500 rounded-lg"
        >Save</button
      >
    </footer>
  </form>
</Dashboard>
