---
import GlobalModal from "@components/GlobalModal";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import PropertyPreview from "@components/PropertyPreview";
import "@fontsource-variable/inter-tight";

const { pageTitle } = Astro.props;
const userId = Astro.locals.currentUserId;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Rafael Meza" />
    <meta
      name="keywords"
      content="app inmobiliaria, aplicación inmobiliaria, inmobiliaria online, plataforma inmobiliaria, buscar inmuebles, encontrar propiedades, buscar casas, buscar apartamentos, buscar departamentos, buscar propiedades en venta, buscar propiedades en alquiler, búsqueda de inmuebles, encontrar mi hogar, inmuebles en venta, inmuebles en alquiler, propiedades en venta, propiedades en alquiler, casas en venta, casas en alquiler, apartamentos en venta, apartamentos en alquiler, departamentos en venta, departamentos en alquiler, venta de inmuebles, alquiler de inmuebles, venta de casas, alquiler de apartamentos, alquiler de departamentos, filtros de búsqueda inmuebles, mapas de propiedades, fotos de inmuebles, alertas de propiedades, notificaciones de inmuebles, inmuebles favoritos, guardar favoritos, contactar anunciantes, chat inmobiliario, búsqueda por mapa, búsqueda por precio, búsqueda por ubicación, búsqueda por tipo de propiedad, inmuebles en Lima, propiedades en Lima, casas en Lima, apartamentos en Lima, departamentos en Lima, venta casas Lima, alquiler apartamentos Lima, inmobiliaria en Lima, buscar propiedades en Lima, inmuebles en Miraflores, propiedades en San Isidro, apartamentos en Surco, casas en Barranco, inmobiliaria [Nombre de tu app] Lima, app para buscar casas en venta, aplicación para encontrar apartamentos en alquiler, cómo buscar inmuebles online, mejores apps para encontrar propiedades, inmuebles en venta con fotos y mapa"
    />
    <meta
      name="description"
      content="La app inmobiliaria más fail de usar para encontrar propiedades a tu medida. Busca inmuebles (incluyendo casas y departamentos) en venta y alquiler con herramientas de búsqueda optimizadas para tu facil uso. Visualiza cada propiedad con galerías de fotos y detalles clave. Guarda tus inmuebles favoritos y recibe notificaciones personalizadas. Simplifica tu proceso de buscar propiedades y encuentra tu espacio ideal."
    />
    <meta name="robots" content="index, follow " />
    <link rel="canonical" href="https://www.rafaelmeza.com/" />
    <meta property="og:title" content="Rafael Meza" />
    <meta
      property="og:description"
      content="La app inmobiliaria más fail de usar para encontrar propiedades a tu medida. Busca inmuebles (incluyendo casas y departamentos) en venta y alquiler con herramientas de búsqueda optimizadas para tu facil uso. Visualiza cada propiedad con galerías de fotos y detalles clave. Guarda tus inmuebles favoritos y recibe notificaciones personalizadas. Simplifica tu proceso de buscar propiedades y encuentra tu espacio ideal."
    />
    <meta property="og:image" content="https://www.rafaelmeza.com/rafael.png" />
    <title>
      {pageTitle}
      {pageTitle ? " | " : ""}
      Inmuebles
    </title>
  </head>
  <body id="app">
    <Header />
    <Main>
      <slot />
    </Main>
    <PropertyPreview userId={userId} currentHref={Astro.url.href} client:load />
    <GlobalModal client:load />
  </body>
</html>
