---
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import PropertyPreview from "@components/PropertyPreview";
import "@fontsource-variable/cinzel";
import "@fontsource/nixie-one";

const { pageTitle } = Astro.props;
const userId = Astro.locals.currentUserId;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Rafael Meza" />
    <meta
      name="keywords"
      content="Web developer, Frontend developer, Expert in web layout, React.js developer, Responsive web development, HTML/CSS layout, Web design, Professional web layout, Custom web development, React programmer, Expert frontend developer, Interactive web design, UI/UX developer, Interface developer, Website optimization, React.js, Advanced JavaScript, HTML5 layout, CSS3 and Sass, Responsive design with React, React hooks, Redux for React, Reusable React components, React and Next.js, Frontend frameworks, Modern web development, Frontend with React, Professional website creation, Web application development, Web layout services, Fast and scalable website development, Custom user interface development, Web development for businesses, React.js consulting, Custom frontend design and development, Optimized website development, Freelance web developer, Web developer in Lima, Peru, Freelance programmer in Lima, Peru, React.js consulting in Lima, Peru"
    />
    <meta
      name="description"
      content="Rafael Meza - Web Developer specializing in ReactJS. Building modern, scalable, and efficient web applications. Turn your ideas into reality with custom tech solutions. Expert in front-end development and JavaScript frameworks."
    />
    <meta name="robots" content="index, follow " />
    <link rel="canonical" href="https://www.rafaelmeza.com/" />
    <meta property="og:title" content="Rafael Meza" />
    <meta
      property="og:description"
      content="La app inmobiliaria más fail de usar para encontrar propiedades a tu medida. Busca inmuebles (incluyendo casas y departamentos) en venta y alquiler con herramientas de búsqueda optimizadas para tu facil uso. Visualiza cada propiedad con galerías de fotos y detalles clave. Guarda tus inmuebles favoritos y recibe notificaciones personalizadas. Simplifica tu proceso de buscar propiedades y encuentra tu espacio ideal."
    />
    <meta property="og:image" content="https://www.rafaelmeza.com/rafael.png" />
    <title>
      {pageTitle}
      {pageTitle ? " | " : ""}
      Inmuebles
    </title>
  </head>
  <body id="app" class="font-inter-tight">
    <Header />
    <Main>
      <slot />
    </Main>
    <PropertyPreview userId={userId} currentHref={Astro.url.href} client:load />
  </body>
</html>
